<div class="modal fade hide" id="dossier_modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-label">Fiche dossier <span class="codeBnpv"></span></h3>
  </div>
  <div class="modal-body">
    <p>Chargement du dossier...</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Imprimer", "#", class: "btn btn-info print-dossier" %>
    <%= link_to "Modifier", "#", class: "btn btn-primary edit-dossier" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</div>
