<div class="nested-fields">
  <div class="row-fluid">
    <div class="span3">
      <%= f.association :medicament, label: false, collection: medicaments, prompt: "Choisir un médicament", input_html: {class: "span11"} %>
    </div>
    <% %w(debut fin).each do |suffix| %>
      <div class="span4">
        <div class="control-group">
          <div class="controls controls-row">
            <% %w(j m a).each do |prefix|%>
              <%= f.text_field :"#{prefix}_#{suffix}", class: "span2", placeholder: (prefix == "a" ? prefix*4 : prefix*2) %>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="span1">
      <%= link_to_remove_association "<i class='icon-remove'></i>".html_safe, f, class: "btn" %>
    </div>
  </div>
</div>
