<div class="dossier_fiche">
  <div class="row">
    <div class="span4">
      <span class="libelle">Date recueil</span>
      <%= l @dossier.date_recueil %>
    </div>
    <div class="span4 offset4">
      <span class="libelle">Doublon</span>
      <%= @dossier.doublon %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <span class="libelle">Age patient</span>
      <%= @dossier.patient.age %>
    </div>
  </div>
</div>
