<div class="modal hide fade" id="carte-france">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Choisir un CRPV</h3>
  </div>
  <div class="modal-body">
    <div id="canvas_france"></div>
  </div>
  <div class="modal-footer">
    <%= link_to "Fermer", "#", class: "btn", "data-dismiss" => "modal", "aria-hidden" => true %>
  </div>
</div>
