<%= f.input :last_name, as: :hidden %>
<%= f.input :first_name, as: :hidden %>
<% if @is_admin %>
  <div class="control-group">
    <%= f.label :membership_level, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :membership_level %>
    </div>
  </div>
<% end %>
