= form_tag refinery.search_path, class: "navbar-search form-search pull-right" do
  .input-append
    = text_field_tag :query, {}, {:type => "search",
                 :placeholder => "Rechercher...",
                 :value => (params[:query] if params[:query]),
                 class: "search-query span8", autocomplete: "off"}
    = button_tag type: :submit, name: nil, class: "btn" do
      %i.icon-search
