.pull-right
  = form_tag refinery.search_path, class: "navbar-search" do
    %span.search-magnifier
      %i.nav-search
      = button_tag "", class: "hidden-submit"
    = text_field_tag :query, {}, {:type => "search",
                   :placeholder => "Rechercher...",
                   :value => (params[:query] if params[:query]),
                   class: "search-input span2", autocomplete: "off"}
