<table class="table table-condensed table-striped table-bordered display" id="dossiers" data-source="<%= dossiers_url(format: :json) %>">
  <thead>
    <tr>
      <th>N° Cas BNPV</th>
      <th>Evènement</th>
      <th>Médicament(s)</th>
      <th>Date recueil</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr>
      <th><input type="text" name="search_code_bnpv" placeholder="code BNPV" class="input-block-level"></th>
      <th><input type="hidden" id="search_dossier_evenement_name" class="input-block-level" data-placeholder="Saisir le nom de l'évènement"></th>
      <th>
        <input type="hidden" id="search_dossier_traitements_medicament_name" class="input-block-level" data-placeholder="Saisir le nom du médicament">
      </th>
      <th>
        <input type="hidden" id="date_recueil_dummy">
        du <%= select_date Dossier.minimum(:date_recueil), {use_month_numbers: true, date_separator: "/", prefix: "date_recueil_du"}, class: "span3" %><br>
        au <%= select_date Date.current, {use_month_numbers: true, date_separator: "/", prefix: "date_recueil_au" }, class: "span3" %>
      </th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
</table>

<p><%= link_to "Nouveau dossier", new_dossier_path(enquete_id: enquete.id), class: "btn" %></p>
