<table class="table table-condensed table-striped table-bordered display" id="dossiers" data-source="<%= dossiers_url(format: :json) %>">
  <thead>
    <tr>
      <th>N° Cas BNPV</th>
      <th>Evènement</th>
      <th>Médicament(s)</th>
      <th>Date recueil</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<p><%= link_to "Nouveau dossier", new_dossier_path(enquete_id: enquete.id), class: "btn" %></p>
