<div id="body_content_title">
  <h1>Liste des enquêtes</h1>
</div>

<div id="body">
  <% if @enquetes.any? %>
    <ul id="enquetes">
      <% @enquetes.each do |enquete| %>
        <li>
          <%= link_to enquete.code_bnpv, enquete %>
        </li>
      <% end %>
    </ul>
  <% else %>
    Aucune enquête.
  <% end -%>
  <%= form_tag new_enquete_path, method: :get do %>
    <div class="input-append">
      <%= select_tag :hydra_set_id, options_from_collection_for_select(HydraAttribute::HydraSet.all, :id, :name) %>
      <%= submit_tag "Nouvelle enquête", name: nil, class: "btn" %>
    </div>
  <% end -%>
</div>
