%ul.breadcrumb
  %li
    = link_to "/" do
      %i.icon-home
      Accueil
    %span.divider &gt;
  - @page.self_and_ancestors.each do |p|
    %li{class: p.id == @page.id ? "active" : nil}
      = link_to p.refinery_menu_title, p.nested_path
      %span.divider= "&gt;".html_safe unless p.id == @page.id
