%ul.breadcrumb
  %li
    = link_to "/" do
      %i.icon-home
      Accueil
    %span.divider &gt;
  - @page.self_and_ancestors.each do |p|
    %li
      = link_to_unless p.id == @page.id, p.menu_title || p.title, p.nested_path
      %span.divider= "&gt;".html_safe unless p.id == @page.id
