<div class="row-fluid">
  <div class="span10">
    <ul class="legal_stuff">
      <li><%= mail_to "andrea.damico@gmail.com", "<i class=icon-envelope></i>\nContacter le webmaster".html_safe, class: "btn" %></li>
    </ul>
    <p><%= t('.copyright', year: Time.now.year, site_name: Refinery::Core.site_name) %></p>
  </div>
  <div class="span2">
    <p class="pull-right">
      <%= link_to "#header", class: "btn anchor" do %>
        <i class="icon-chevron-up"></i>
        Haut de page
      <% end -%>
    </p>
  </div>
</div>
