.row-fluid
  .span10
    %ul.legal_stuff
      %li= mail_to "andrea.damico@gmail.com", "<i class=icon-envelope></i>\nContacter le webmaster".html_safe, class: "btn"

    %p= t('.copyright', year: Time.now.year, site_name: Refinery::Core.site_name)
  .span2
    %p.pull-right
      = link_to "#header", class: "btn anchor" do
        %i.icon-chevron-up
        Haut de page
