<h1 id='logo'>
  <% logo_text_link = link_to title = Refinery::Core.site_name, refinery.root_path, title: title -%>
  <span><%= logo_text_link %></span>
  <%= logo_text_link %>
</h1>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
