<% flash && flash.each do |key, value| %>
  <div class="alert fade in alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">&times;</a>
    <strong><%= value %></strong>
  </div>
<% end %>
