.form-section
  border-top: 1px solid #777
  margin-bottom: 5px
  &:last-child
    border-bottom: 1px solid #777

#dossiers
  td, th
    vertical-align: middle

#traitements
  border-top: 1px solid #777
  border-bottom: 1px solid #777
  margin-bottom: 5px
  padding: 5px 0
  overflow: auto

#dossier_circonstance_autre_quoi
  margin-bottom: 0
  padding: 0 4px

label.control-label
  font-weight: bold

.atcd-columns, .atcd-columns h5
  border-bottom: 1px dotted #777
  margin-bottom: 5px
  h5
    margin-bottom: 0

.indication, .indication-quoi
  visibility: hidden

.anomalie-hemostase-fields
  visibility: hidden

.dataTables_scrollFoot
  padding-top: 15px

.traitements-error
  color: #b94a48
