@import "base"

body
  background: image-url("page_bg.png") repeat-x scroll 50% 0 #5397BB
  padding-top: 40px

.nav li
  a i
    opacity: 0.6
  &.active, a:hover
    i
      opacity: 1

.navbar.navbar-intranet
  .navbar-user
    font-size: 12px
    padding-left: 1em

.navbar-search
  .btn
    margin-top: 0

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend
  width: 195px

.breadcrumb
  margin-bottom: 0.5em
$mainWrapDelta: 0.06

.main-wrap
  width: $gridRowWidth + $gridRowWidth * $mainWrapDelta
  margin: auto

.page-outer-wrap
  margin-top: 10px
  +single-box-shadow
  +border-radius(15px, 15px)
  border-top: 1px solid white
  background: #CBCDCF
  margin-bottom: 50px

.page-inner-wrap
  margin: 10px
  padding-top: 20px
  padding-bottom: 20px
  +single-box-shadow
  +border-radius(8px)
  background: white
  color: #646464

// mobile
@media (max-width: 979px)
  body
    padding-top: 0

// portrait tablet to default desktop
@media (min-width: 768px) and (max-width: 979px)
  $gridRowWidth768: $gridColumnWidth768 * $gridColumns + $gridGutterWidth768 * ($gridColumns - 1)
  .main-wrap
    width: $gridRowWidth768 + $gridRowWidth768 * $mainWrapDelta

// Large desktop
@media (min-width: 1200px)
  $gridRowWidth1200: $gridColumnWidth1200 * $gridColumns + $gridGutterWidth1200 * ($gridColumns - 1)
  .main-wrap
    width: $gridRowWidth1200 + $gridRowWidth1200 * $mainWrapDelta

.page-footer
  margin-top: 10px
  padding-bottom: 1em
  color: #646464
  text-shadow: 0 1px 1px #FFFFFF
  p
    margin-bottom: 0

  ul.legal_stuff
    +delimited-list(" |")

$dl_large_width: 14em
.dl-large
  dt
    width: $dl_large_width
    &:after
      content: " :"
  dd
    margin-left: $dl_large_width + 0.5em
    p
      margin-bottom: 0

#carte-france
  top: 250px !important
  .modal-body
    max-height: 500px
  .thumbnails
    margin-bottom: 0
    p
      text-align: center
  hr
    border-style: dashed none
    border-color: #DDD -moz-use-text-color white
    margin: 5px 0
