$containerWidth: $gridColumnWidth * $gridColumns + $gridGutterWidth * ($gridColumns - 1)

body
  background: image-url("page_bg.png") repeat-x scroll 50% 0 #5397BB

#logo
  +clearfix
  margin-top: 10px
  font-size: 18px
  a
    float: right
    color: white
  span
    float: left
    display: block
    background: transparent image-url("logo-afcrpv.png") no-repeat left top
    a
      width: 158px
      height: 137px
      color: transparent

.navbar.static
  +border-top-radius(15px)
  background-color: #9B9D9F
  background-image: -moz-linear-gradient(center top , #e5e5e5 0%, #9B9D9F 100%)
  background-repeat: repeat-x
  border-top: 1px solid white
  padding: 5px
  margin: -40px 10px 0 170px
  margin-bottom: 0
  .navbar-inner
    background-color: transparent
    background-image: none
    border-radius: 0
    box-shadow: none
    min-height: 30px
    padding: 6px 10px 4px

.navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle
  background-color: white

.navbar .nav .active > a, .navbar .nav .active > a:hover
  background-color: transparent
  color: #5F6B7C
  text-decoration: none
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25)

.active.dropdown .caret
  border-top-color: #5F6B7C !important

.navbar .nav > li > a
  font-weight: bold
  color: white
  border: 1px solid transparent
  padding: 4px 8px 4px
  +border-radius(5px, 5px)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  &:hover
    +single-box-shadow(#999, 1px, 1px, 3px, 0, inset)

.caret
  @include opacity(1)

.navbar .nav li.dropdown.active > .dropdown-toggle:hover
  color: #5F6B7C

.navbar .nav .active > a, .navbar .nav .active > a:hover
  background-color: white
  color: #5F6B7C
  text-decoration: none
  border: 1px solid #bbb
  +border-radius(5px, 5px)

.dropdown-menu
  border: 1px solid rgba(0, 0, 0, 0.2)
  +border-radius(5px, 5px)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  display: none
  float: left
  left: 0
  list-style: none outside none
  margin: 1px 0 0
  min-width: 160px
  padding: 4px 0
  position: absolute
  top: 100%
  z-index: 1000

.nav .nav-header
  margin: 10px
  padding: 0
  font-size: inherit
  text-transform: none
  background-color: white
  a
    border: 1px solid #bbb
    +border-radius(5px, 5px)
    padding: 3px 10px

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
  background-color: $dropdownLinkBackgroundHover
  color: $dropdownLinkColorHover
  text-decoration: none
  border-color: transparent
  text-shadow: none
  +border-radius(5px, 5px)

li.grand-children ul
  list-style: none
  margin-left: 0
  padding-left: 0
  li
    margin-left: 1em
    padding-left: 5px
    a
      font-size: 11px
      padding: 0 10px 0 15px
      background: image-url("menu_level3_item.png") no-repeat scroll 3px 6px transparent
      color: $linkColor
      &:hover
        text-decoration: underline
        color: $linkColorHover
        background-color: transparent
        background-position: 3px -12px

.nav-header + .grand-children
  margin-top: -10px

.navbar-search
  margin-top: 3px
  position: relative
  .search-magnifier
    display: block
    height: 26px
    position: absolute
    right: 2px
    top: 0
    width: 26px
    z-index: 3

  .nav-search
    margin-left: 7px
    margin-top: 3px
    background-position: -48px 0
    height: 14px
    width: 14px
    background-image: image-url("glyphicons-halflings.png")
    background-repeat: no-repeat
    display: inline-block
    vertical-align: text-top
  button
    position: absolute
    right: 2px
    top: 4px
    background: transparent
    border: none
    width: 26px
    height: 26px

  .search-input
    border: 1 0 0
    border-color: #aaa
    border-style: solid none none
    +border-radius(14px, 14px)
    background-color: #EEE
    padding: 4px 27px 4px 12px
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset
    position: absolute
    right: 0
    top: 0
    z-index: 2
    -moz-transition: all 0.2s ease-in-out 0s
    color: #444444
    font-size: 12px
    height: 14px
    line-height: 1
    &:-moz-placeholder
      color: #666666
    &:focus
      background-color: white
      box-shadow: none

// default

$mainWrapDelta: 0.06

#main_wrap
  width: $gridRowWidth + $gridRowWidth * $mainWrapDelta
  margin: auto
  +single-box-shadow
  +border-radius(15px, 15px)
  border-top: 1px solid white
  background: #CBCDCF

  #page
    margin: 10px
    padding-top: 20px
    padding-bottom: 20px
    +single-box-shadow
    +border-radius(8px)
    background: white
    color: #646464

/* Landscape phones and down */
@media (max-width: 480px)
  #logo
    font-size: 14px

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
  #logo
    font-size: 14px

// portrait tablet to default desktop
@media (min-width: 768px) and (max-width: 979px)
  #logo
    font-size: 14px
  $gridRowWidth768: $gridColumnWidth768 * $gridColumns + $gridGutterWidth768 * ($gridColumns - 1)
  #main_wrap
    width: $gridRowWidth768 + $gridRowWidth768 * $mainWrapDelta

// Large desktop
@media (min-width: 1200px)
  $gridRowWidth1200: $gridColumnWidth1200 * $gridColumns + $gridGutterWidth1200 * ($gridColumns - 1)
  #main_wrap
    width: $gridRowWidth1200 + $gridRowWidth1200 * $mainWrapDelta

#page_footer
  margin-top: 10px
  padding-bottom: 1em
  color: #646464
  text-shadow: 0 1px 1px #FFFFFF
  p
    margin-bottom: 0

  ul.legal_stuff
    +delimited-list(" |")

#news
  .label
    display: inline-block
    text-align: center
    width: 70px
  .date
    font-size: 80%
    display: inline-block
  .news-item
    span + span, span + a
      margin-left: 2px
